useDynLib(VarSelLCM)
export(VarSelCluster)
export(VarSelImputation)
exportClasses(
     "VSLCMcriteria",
     "VSLCMpartitions",
     "VSLCMstrategy",
     "VSLCMmodel",
     "VSLCMdataContinuous",
     "VSLCMparamContinuous",
     "VSLCMresultsContinuous"
     )
exportMethods(summary)
exportMethods(print)
import(methods)
importFrom("Rcpp", evalCpp)
importFrom("parallel", mclapply, detectCores, makeCluster, clusterExport, parLapply, clusterEvalQ, stopCluster)
